<html>
  <head>
    <title>Vue practice</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <button v-on:click="hello">{{button_message}}</button><br>
      <span v-if="seen" v-bind:title="now">
        {{ message }}
      </span>
    </div>
    <div id="app2">
      <msg-tag v-bind:msg="message"></msg-tag>
      <input v-model="message">
    </div>
    <div id="app3">
      <p>{{ foo }}</p>
      <!-- これは `foo` を更新しなくなります! -->
      <button v-on:click="foo = 'baz'">Change it</button>
    </div>
  </body>
  <script src="js/app.js"></script>
</html>
